<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="//cdn.datatables.net/1.9.4/css/jquery.dataTables.css">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.datatables.net/1.9.4/js/jquery.dataTables.js"></script>

    <title></title>
    <script>
    $(document).ready(function() {
        $('#profiling_output').dataTable({
            "paging":   false
        });
    });
</script>

</head>
<body>
<pre>
    {{ info }}
</pre>
<table id="profiling_output">
<thead>
    <tr>
        {% for header in table_header %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    {% for row in table_rows %}
        <tr>
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</tbody>

</table>
</body>
</html>